#wrap{}

/*top_banner*/
#top_banner{background:#b28d73;color:#fff;height:100px;}
#top_banner .container {display:flex;width:1200px;margin:0 auto;position:relative;}
#top_banner figure {padding:13px 55px 13px 15px;}
#top_banner h2 {font-size:25px;font-weight:600;margin:12px 0 9px;}
#top_banner p {font-weight:400;margin-bottom:9px;}
#top_banner strong {position:absolute;background:#9b7a63;border-radius:10px;width:155px;line-height:40px;font-weight:500;text-align:center;top:30px;right:65px;}
#top_banner i {position:absolute;font-size:25px;right:15px;top:38px;cursor:pointer;}





/*header nav*/
#header {line-height:100px;background:#000033;color:#fff;position:relative;}
#header .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}

#header h1 img {width:100px;}

/* #header nav {margin-left:50px;} */
#header nav>ul{display:flex;margin-top:15px;line-height:85px;}
#header nav>ul>li {position:relative;}
#header nav>ul>li>a {display:block;padding:0 34px;}

#header nav>ul>li~li:after {display:block;content:"";width:1px;height:12px;background:#ccc;position:absolute;top:38px;}
#header nav>ul ul {position:absolute;top:100px;left:0;width:100%;height:0;z-index:999;transition:0.4s;overflow:hidden;padding-top:5px;}
#header nav:hover>ul ul {height:280px;margin-left:10px;}
#header nav:after {content:"";display:block;width:100%;height:0;background:#000033;border-top:1px solid #101b40;position:absolute;top:100px;left:0;z-index:888;transition:0.4s;}
#header nav:hover:after {height:280px;}
#header nav>ul ul a {padding:0 20px 0 0;display:block;line-height:40px;text-align:center;}
#header nav>ul ul a:hover {color:#3366cc;}

#header .search {margin-right:0;}
#header .search>ul {display:flex;position:relative;line-height:85px;margin-top:15px;}
#header .search>ul>li>i {position:relative;padding:0 25px;}
#header .search>ul>li>.header_search {padding:0 0 0 26px;}
#header .search>ul>li~li:after {display:block;content:"";width:1px;height:16px;background:#ccc;position:absolute;top:38px;}
#header .search input {background:none;border:none;width:135px;outline:none;border-bottom:1px solid #ccc;}
#header .search button {background:none;border:none;outline:none;}





/*main_visual*/
#visual .container {width:1200px;margin:0 auto;padding:0 15px;}
#visual .main_visual figure {height:800px;position:relative;}
#visual .main_visual .slider01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
#visual .main_visual .slider02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover;}
#visual .main_visual .slider03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}
#visual .main_visual figure .container {padding:148px 0 0 0;}
#visual .main_visual figure h2 {padding:0 15px;font-size:20px;font-weight:500;margin-bottom:27px;letter-spacing:0.4em;color:#333;}
#visual .main_visual figure p {padding:0 15px;text-indent:-4px;font-size:65px;font-weight:500;margin-bottom:18px;letter-spacing:0.1em;color:#333;}
#visual .main_visual figure strong {padding:0 15px;font-size:20px;font-weight:700;color:#f00;}
#visual .main_visual figure a {margin-left:15px;display:block;width:132px;background:rgba(0,0,0,0.5);border:1px solid #ccc;line-height:36px;text-align:center;color:#fff;margin-top:32px;}

#visual .main_visual .slider03 h2{color:#fff;}
#visual .main_visual .slider03 p{color:#fff;}

#visual .slick-dots {display:flex;position:absolute;width:1200px;padding:0 15px;bottom:55px;left:50%;transform: translateX(-50%);}
#visual .slick-dots li {width:32px;height:6px;border-radius:20%;background:#000;margin:0 15px 0 0;transition:0.3s;}
#visual .slick-dots li.slick-active {background:#f00;transform:scale(1.3);}
#visual .slick-dots li button {display:none;}





/*con01*/
#con01 {padding:150px 0;text-align:center;color:#333;}
#con01 h2 {font-size:24px;font-weight:600;margin-bottom:10px;}
#con01 p {font-size:18px;font-weight:500;margin-bottom:30px;letter-spacing:0.1em;}

#con01 .container {position:relative;width:1200px;height:530px;margin:0 auto 0;padding:0 15px;}
#con01 figure{padding:50px 15px 30px 0;}
#con01 img {max-width:100%;margin-bottom:-40px;border:1px solid #fff;transform:scale(0.7);transition:0.6s;}
#con01 .on img{border:2px solid #3366cc;transform:scale(1.2)}
#con01 h3 {font-size:18px;font-weight:500;margin-bottom:3px;transform:scale(0.7);color:#666;}
#con01 .on h3 {transform:scale(1);font-weight:700;margin-bottom:8px;color:#333;}
#con01 strong {transform:scale(0.7);color:#666;}
#con01 .on strong {display:block;transform:scale(1);font-weight:500;color:#333;}
#con01 a {display:none;transition:0.2s;}
#con01 .on a {display:block;font-size:18px;letter-spacing:-0.025;width:150px;line-height:42px;background:#3366cc;color:#fff;margin:55px auto;}

#con01 .btn i {position:absolute;top:35%;left:50%;transform:translate(-50%,-5%);font-size:50px;padding:10px;;color:#000;border-radius:50%;}
#con01 .btn i.xi-angle-left-thin {margin-left:-640px;}
#con01 .btn i.xi-angle-right-thin {margin-left:640px;}

#con01 a:hover {transform:scale(1.1);}





/*con02*/

#con02 {padding:150px 0;background:url(../img/con02_banner.jpg) no-repeat center center/cover;height:773px;margin:0 auto;color:#fff;text-align:center;}
#con02 .container {position:relative;padding:0 15px;width:1200px;margin:0 auto;}
#con02 h2 {font-size:24px;font-weight:600;margin-bottom:15px;text-shadow:0 0 3px #333;}
#con02 p {font-size:18px;font-weight:500;margin-bottom:45px;letter-spacing:-0.025em;text-shadow:0 0 3px #333;}
 
#con02 figure {display:block;position:absolute;right:15px;max-width:100%;z-index:888;transition:0.4s;}
#con02 figure a {display:block;margin-top:-55%;z-index:999;}
#con02 figure i {font-size:35px;background:#3366cc;color:#fff;line-height:45px;border-radius:10px;width:150px;height:45px;opacity:0;transition:1s;}
#con02 figure:hover i {font-size:30px;background:#3366cc;color:#fff;line-height:45px;border-radius:10px;width:150px;height:45px;opacity:1;}
#con02 figure i:after {content:"View";display:inline-block;font-size:18px;margin:0 10px;vertical-align:top;}
#con02 figure:hover {transform:scale(1.3);}
#con02 .line img {position:absolute;right:935px;transform:translate(50%,40px);width:400px;}




/*con03*/
#con03 {padding:150px 0;color:#333;}
#con03 h2 {font-size:24px;font-weight:600;margin-bottom:15px;text-align:center;}
#con03 p {font-size:18px;font-weight:500;margin-bottom:30px;text-align:center;letter-spacing:0em;}
#con03 .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}
/* 
#con03 figure:nth-child(1) {border:1px solid #3366cc;}
#con03 figure:nth-child(3) {border:1px solid #3366cc;} */

#con03 figure {width:370px;position:relative;}
#con03 a:hover {transform:scale(1.1);}
#con03 .ex01 strong:before {display:block;content:"";width:185px;height:1px;background:#000;margin:39px 0 12px 0;}
#con03 .ex01 strong {font-weight:400;}
#con03 .ex01 a {display:block;font-weight:500;color:#fff;background:#3366cc;width: 130px;line-height:30px;text-align:center;margin:15px 0 145px 0;transition:0.3s;}
#con03 .ex02 {text-align:right;}
#con03 .ex02 a {position:absolute;right:0;display:block;font-weight:500;color:#fff;background:#3366cc;width: 115px;height:30px;line-height:30px;text-align:center;transition:0.3s;}
#con03 .ex02 strong {display:block;position:absolute;margin-top:45px;right:0;}
#con03 .ex02 strong:after {position:absolute;display:block;content:"";width:185px;height:1px;background:#000;margin:12px 0 39px 0;right:0}





/*con04*/
#con04 {padding:150px 0;color:#333;text-align:center;background:#f3f4f8;}
#con04 h2 {font-size:24px;font-weight:600;margin-bottom:15px;}
#con04 p {font-size:18px;font-weight:500;margin-bottom:35px;letter-spacing:-0.025em;}

#con04 .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}
#con04 .container figure {border:1px solid #ccc;width:370px;height:370px;position:relative;}
#con04 .container figure:hover strong {opacity:0;}
#con04 .container strong {display:block;font-size:22px;font-weight:600;letter-spacing:0.15em;transform:translateY(-177px);z-index:999;}

#con04 .case .show {position:absolute;width:100%;height:0;background:rgba(69,96,211,90%);color:#fff;top:0%;transition:0.3s;font-size:0;}
#con04 .case:hover .show span {display:block;font-size:24px;font-weight:500;letter-spacing:0.15em;margin:98px auto 38px;}
#con04 .case:hover .show em {display:block;font-size:18px;font-weight:300;letter-spacing:-0.025em;line-height:24px;top:155px;}
#con04 .case:hover .show a {display:block;font-weight:500;border:1px solid #fff;line-height:32px;width:92px;margin:30px auto 0;font-size:16px;}

#con04 .container .case:hover .show {height:100%;}






/*footer*/
#footer {background:#000033;color:#ccc;padding:45px 0;text-align:center;}
#footer ul {display:flex;justify-content:center;margin-bottom:22px;opacity:80%;}
#footer li {position:relative;}
#footer ul>li>a {padding:0 15px;}
#footer li~li:before {content:"";width:1px;height:12px;background:#ccc;position:absolute;top:20%;}

#footer hr {opacity:20%;}
#footer .sns {font-size:28px;margin:25px auto 18px;} 
#footer h3 {margin-bottom:15px;opacity:80%;}
#footer p {font-size:13px;margin-bottom:35px;opacity:80%;}
#footer img {width:97px;opacity:80%;}





/*to_top*/
#to_top {display:none;position:fixed;bottom:200px;right:150px;}
#to_top i {font-size:30px;color:#3366cc;width:50px;line-height:53px;text-align:center;border:2px solid #3366cc;background:rgba(255, 255, 255,0.7);}









/* * {outline:1px solid #f00;} */













