/* * {outline:1px solid #f00;} */

/*header*/

.header {background:#fff;letter-spacing:-0.025em;}

.header .top {line-height:30px;border-top:2px solid #97123d;border-bottom:1px solid #ddd;color:#333;}
.header .top img {max-width:32px;margin:-3px 4px 0 0;}
.header .top .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}
.header .top span {font-size:15px;vertical-align:top;font-weight:500;margin-left:-7px;}

.header .top ul {display:flex;line-height:30px;}
.header .top ul>li {display:block;font-size:15px;}
.header .top ul>li:nth-child(2):after {content:"";display:inline-block;width:1px;height:12px;background:#999;margin:0 12px;}
.header .top ul>li:nth-child(4) {margin-left:13px;background:#97123d;width:55px;line-height:30px;text-align:center;border-radius:0 0 0 0;}
.header .top ul>li i {font-size:20px;color:#fff;line-height:28px;}

.header .bottom {text-align:center;}
.header h1 {line-height:90px;}
.header .bottom .container {background:#97123d;line-height:70px;color:#fff;}
.header .bottom nav {width:1200px;margin:0 auto;padding:0 15px;display:flex;justify-content:space-between;}

.header .gnb>ul {display:flex;font-size:16px;}
.header .gnb>ul>li {position:relative;}
.header .bottom .right i {font-size:22px;line-height:72px;}

.header .gnb>ul>li:after {content:"";display:block;width:5px;height:5px;background:#fff;border-radius:50%;position:absolute;top:45px;left:-5px;opacity:0;transition:0.5s;}
.header .gnb>ul>li:hover:after {top:18px;opacity:1;}

.header .gnb>ul>li {position:relative;}
.header .gnb>ul>li .depth02 {display:block;color:#666;position:absolute;top:45px;left:0;width:calc(100% + 10px);border:1px solid #97123d;background:#fff;line-height:40px;text-align:left;font-size:14px;padding:0 15px 8px;visibility:hidden;font-weight:500;z-index:999;}
.header .gnb>ul>li {padding-right:79px;}
.header .gnb>ul>li .depth02 a {display:block;}

.header .gnb>ul>li:hover .depth02 {opacity:1;top:65px;visibility:visible;transition:0.3s;}
.header .gnb>ul>li .depth02 li a {display:block;border-bottom:1px solid #eee;}
.header .gnb>ul>li .depth02 li:hover a {display:block;border-bottom:1px solid #97123d;color:#333;}


#allMenu {display:none;position:absolute;top:210px;left:50%;transform:translateX(-50%);width:1170px;background:#fff;padding:50px 60px;border:1px solid #97123d;font-size:0;font-weight:500;letter-spacing:-0.025em;color:#666;z-index:999;}

#allMenu>ul {display:flex;flex-wrap:wrap;text-align:center;justify-content:center;}
#allMenu li {display:block;text-align:center;padding:0 10px;flex:1;color:#333;width:210px;}
#allMenu li a {display:block;line-height:20px;}
#allMenu li>a {font-size:18px;border-bottom:1.5px solid rgb(151,18,61,0.5);padding-bottom:8px;}
#allMenu li>ul {padding-top:2px;margin-bottom:40px;margin-top:12px;} 
#allMenu ul>li>ul>li {margin:auto;} 
#allMenu ul>li>ul>li>a {border-bottom:none;font-size:15px;color:#555;} 

.mopen {display:none;width:30px;height:30px;}

/*main_visual*/
.main_visual {position:relative;}
.main_visual .container {width:1200px;margin:0 auto;color:#fff;}
.main_visual .mainSlide figure {height:760px;}
.main_visual .mainSlide .slider01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
.main_visual .mainSlide .slider02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover;}
.main_visual .mainSlide .slider03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}

.main_visual .mainSlide figure .container {padding:208px 15px;}
.main_visual .mainSlide figure p {font-size:17px;font-weight:300;margin-bottom:40px;letter-spacing:-0.025em;}
.main_visual .mainSlide figure h3 {font-size:42px;font-weight:500;margin-bottom:25px;}
.main_visual .mainSlide figure strong {text-indent:-8px;font-size:30px;}
.main_visual .mainSlide figure a {display:block;width:243px;background:rgba(255,255,255,0.2);border:1px solid #ddd;margin:90px 0 0 5px;padding:10px auto;line-height:38px;text-align:center;font-size:15px;letter-spacing:-0.025em;opacity:0;transform:translateY(-50px)}
.main_visual .mainSlide figure i {font-size:16px;}

.main_visual .mainSlide figure.on a {opacity:1;transition:1s;transform:translateX(0)}

.main_visual .bar {position:absolute;bottom:52px;left:50%;transform:translateX(-50%);width:1170px;height:1.5px;background:rgba(255,255,255,0.5);}
.main_visual .bar span {display:block;width:0;height:150%;background:#97123d;}
.main_visual .bar.animation_active span {width:100%;transition:4s;}

.main_visual .btn span {position:absolute;bottom:248px;right:15%;font-size: 18px;color:#ddd;text-align:right;}
.main_visual .btn span:after {display:block;content:"";width:100px;height:1px;background:#ddd;margin-top:10px;}



/*con01*/
.con01 {padding:150px 0;text-align:center;background:url(../img/con01_bg.jpg) no-repeat center left/cover;overflow:hidden;}


.con01 .wrapper {width:1200px;margin:0 auto;padding:0 15px;display:grid;grid-gap:30px;grid-template-columns: 370px 370px 370px;grid-template-rows: 170px 240px 153px;}

/*01*/
.con01 .item01 {position:relative;grid-column-start:1;grid-column-end:2;background:#fff;border:5px solid #ddd;padding-top:43px;cursor: pointer;box-shadow:5px 5px 10px -6px #bbb;border-radius:10px;overflow:hidden;}
.con01 .item01 strong {display:block;font-size:21px;font-weight:500;color:#333;margin-bottom:17px;}
.con01 .item01 span {color:#555;font-size:15px;}
.con01 .item01 i {display:block;margin-top:10px;font-size:23px;color:#666;}

.con01 .item01:before {content:"";display:block;width:0;height:0;border-top:4px solid #97123d;border-left:4px solid #97123d;position:absolute;top:0;left:0;opacity:0;transition:0.3s;}
.con01 .item01:after {content:"";display:block;width:0;height:0;border-bottom:4px solid #97123d;border-right:4px solid #97123d;position:absolute;bottom:0;right:0;opacity:0;transition:0.3s;}
.con01 .item01:hover:before {opacity:1;width:100%;height:100%;}
.con01 .item01:hover:after {opacity:1;width:100%;height:100%;}
/*02*/
.con01 .item02 {grid-row-start:2;grid-row-end: 3;background:#97123d;color:#fff;padding-top:50px;box-shadow:5px 5px 10px -6px #bbb;transform:translateX(-1000px);transition:0.3s 0.8s;border-radius:10px;}
.con01.on .item02 {transform:translateX(0);transition:0.3s;}
.con01 .item02 strong {display:block;font-size:21px;margin-bottom:15px;}
.con01 .item02 span {line-height:22px;font-size:15px;font-weight:300;margin-bottom:28px;color:#ddd;}
.con01 .item02 select {color:#333;margin-top:25px;width:255px;border:none;background:#fff;text-align:left;font-weight:700;font-size:15px;padding:7px 0 7px 15px;border-radius:5px;}
/*03*/
.con01 .item03 {grid-row-start:3;grid-row-end: 4;grid-column-start:1;grid-column-end:3;background:#fff;border:1px solid #97123d;box-shadow:5px 5px 10px -6px #999;padding-top:38px;display:flex;justify-content:center;color:#333;transform:translateY(1000px);transition:1.2s 1.2s;border-radius:10px;}
.con01.on .item03 {grid-row-start:3;grid-row-end: 4;grid-column-start:1;grid-column-end:3;background:#fff;border:1px solid #97123d;box-shadow:5px 5px 10px -6px #bbb;padding-top:38px;display:flex;justify-content:center;color:#333;transform:translateY(0);transition:0.3s;}
.con01 .item03 figure {text-align:center;margin:0 40px;}
.con01 .item03 img {max-width:80%;transition:0.3s;opacity:0.9;}
.con01 .item03 strong {display:block;margin-top:15px;font-weight:500;transition:0.3s;}
.con01 .item03 a:nth-of-type(2) strong {margin-top:10px;}
.con01 .item03 figure:nth-child(4) strong {color:#000;font-weight:700;}
.con01 .item03 a~a:after {display:block;content:"";width:1px;height:60px;background:#97123d;margin-top:-75px;opacity:30%;}
.con01 .item03 a:hover strong {margin-top:12px;color:#97123d;}
.con01 .item03 a:hover img {transform:translateY(5px);opacity:1;}
.con01 .item03 a:nth-of-type(2):hover img {transform:translateY(0);}
.con01 .item03 a:nth-of-type(2):hover strong {margin-top:7px;}
/*04*/
.con01 .item04 {grid-row-start:1;grid-row-end: 3;grid-column-start:2;grid-column-end:3;background:#fdf3f4;padding-top:15px;box-shadow:5px 5px 10px -6px #bbb;transform:translateY(-1000px);transition:0.3s;opacity:0;border-radius:10px;}
.con01.on .item04 {transform:translateY(0);transition:0.3s;opacity:1;}
.con01 .item04 .num {margin-top:35px;}
.con01 .item04 .num strong {display:block;font-size:18px;font-weight:500;margin-bottom:18px;color:#333;}
.con01 .item04 .num:nth-child(1) strong {display:block;font-size:19px;font-weight:500;margin-bottom:18px;color:#97123d;}
.con01 .item04 .num span {font-size:37px;font-weight:700;color:#97123d;}

.con01 .item04 dl {display:flex;flex-wrap:wrap;width:275px;margin:45px auto 0;color:#333;}
.con01 .item04 dt {width:32%;font-size:20px;font-weight:500;line-height:35px;}
.con01 .item04 dt:after {display:inline-block;content:"";width:2px;height:15px;background:#999;vertical-align:middle;margin-left:10px;}
.con01 .item04 dd {width:68%;font-size:23px;font-weight:700;line-height:35px;}
/*05*/
.con01 .item05 {grid-row-start:1;grid-row-end: 4;grid-column-start:3;grid-column-end:4;background:rgba(236, 222, 222, 0.7);padding-top:54px;box-shadow:5px 5px 10px -6px #bbb;opacity:0;transition:5s;border-radius:10px;}
.con01.on .item05 {opacity:1;transition:0.3s;}
.con01 .item05 strong {display:block;font-size:22px;font-weight:500;margin-bottom:20px;color:#111;}
.con01 .item05 span {line-height:24px;font-weight:500;color:#555;font-size:15px;}
.con01 .item05 .sub {margin:40px auto 0;;color:#555;}
#sub {margin-top:13px;}

.con01 .item05 .sub input {background:#fff;border:1px solid #ddd;width:270px;outline:none;padding:12px;font-size:14px;margin-bottom:15px;}
.con01 .item05 .sub input:nth-child(1) {border-radius:5px 5px 0 0;}
.con01 .item05 .sub input:nth-child(4) {padding:12px 15px 120px;font-size:14px;}
.con01 .item05 a {display:block;width:270px;padding:15px 0;background:#97123d;color:#fff;margin:25px auto;border-radius: 0 0 5px 5px;}





/*con02*/
.con02 {padding:150px 0; background:#f2f2f2;color:#333;}

.con02 .container {width:1200px;margin:0 auto;padding:0 15px;}
.con02 p {font-size:17px;letter-spacing:0.4em;color:#97123d;margin-bottom:15px;text-indent:2px;}
.con02 .txt {display:flex;justify-content:space-between;}
.con02 h2 {font-size:26px;font-weight:500;margin-bottom:70px;}
.con02 .txt a{font-size:16px;font-weight:500;color:#555;text-align:right;margin-top:10px;letter-spacing:-0.025em;}
.con02 .txt i {font-size:13px;font-weight:700;transition:0.3s;}
.con02 .txt a:hover i {transform:translateY(-10px) rotate(180deg);color:#000;}

.con02 .dr_slider {width:1200px;margin:0 auto;justify-content:space-between;letter-spacing:-0.025em;}
.con02 figure {position:relative;text-align:center;width:370px;margin:0 15px;}
.con02 figure img {border-radius:50px 50px 0 0;width:100%;}
.con02 figure strong {display:block;font-size:20px;font-weight:500;margin:25px 0 5px;}
.con02 figure strong:after {display:block;content:"";width:270px;height:1px;background:#ccc;margin-top:10px;}
.con02 span {font-size:15px;font-weight:300;color:#555;}
.con02 .btn {display:flex;justify-content:space-between;margin-top:3px;}
.con02 .btn a {display:block;width:135px;line-height:35px;background:#97123d;font-size:13px;letter-spacing:-0.025em;font-weight:300;color:#fff;}
.con02 .btn a:nth-of-type(2) {background:#888;}
.con02 .btn i {font-size:18px;vertical-align:text-bottom;}

.con02 em {position:absolute;top:260px;left:0;display:block;width:100%;line-height:40px;font-size:16px;font-weight:300;color:#fff;background:#555;}



/*con03*/
.con03 {padding:150px 0; text-align:center;overflow:hidden;}
.con03 p {font-size:17px;letter-spacing:0.4em;color:#97123d;margin-bottom:15px;}
.con03 h2 {font-size:26px;font-weight:500;margin-bottom:50px;}
.con03 .container {width:1200px;margin:0 auto;padding:0 15px;display:flex;flex-wrap:wrap;overflow:hidden;}

.con03 figure {position:relative;}
.con03 .case {overflow:hidden;}
.con03 img {transition:0.3s;}
.con03 .case:hover img {transform:scale(1.1)}

.con03 strong {position:absolute;top:35px;left:45px;font-size:20px;font-weight:400;color:#fff;}
.con03 em{font-size:17px;color:#ddd;}
.con03 strong:after {display:block;content:"";width:147px;height:1.5px;background:#ccc;margin:15px 0;}
.con03 span {position:absolute;top:110px;left:45px;font-size:14px;color:#ddd;}
.con03 span i {vertical-align:top;font-size:17px;}
.con03 figure:hover i {transform:translateX(15px);font-size:20px;transition:0.5s;}

.con03 figure:nth-child(2) strong {position:absolute;top:35px;left:30px;color:#333;font-weight:500;}
.con03 figure:nth-child(2) em {color:#444;font-weight:500;}
.con03 figure:nth-child(2) strong:after {display:block;content:"";width:147px;height:1.5px;background:#666;margin:15px 0 0 20px;}
.con03 figure:nth-child(2) span {left:50px;font-size:14px;font-weight:500;color:#333;}

.con03 figure:nth-child(3) strong {position:absolute;top:35px;left:12px;color:#333;font-weight:500;}
.con03 figure:nth-child(3) em {color:#444;font-weight:500;}
.con03 figure:nth-child(3) strong:after {display:block;content:"";width:147px;height:1.5px;background:#666;margin:15px 0 0 32px;}
.con03 figure:nth-child(3) span {left:50px;font-size:14px;font-weight:500;color:#333;}

.con03 figure:nth-child(1) {opacity:0;transform:translateX(-1000px);transition:0.3s;}
.con03.on figure:nth-child(1) {opacity:1;transform:translateX(0);transition:0.3s;}
.con03 figure:nth-child(2) {opacity:0;transform:translateY(-1000px);transition:0.3s;}
.con03.on figure:nth-child(2) {opacity:1;transform:translateY(0);transition:0.3s 0.3s;}
.con03 figure:nth-child(3) {opacity:0;transform:translateX(-1000px);transition:0.3s;}
.con03.on figure:nth-child(3) {opacity:1;transform:translateX(0);transition:0.3s 0.8s;}
.con03 figure:nth-child(4) {opacity:0;transform:translateX(1000px);transition:0.3s;}
.con03.on figure:nth-child(4) {opacity:1;transform:translateX(0);transition:0.3s 0.5s;}


/*con04*/
.con04 {padding:150px 0 100px;background:url(../img/con04_bg.jpg) no-repeat center center/cover;text-align:center;overflow:hidden;}
.con04 p {font-size:17px;letter-spacing:0.4em;color:#97123d;margin-bottom:15px;}
.con04 h2 {font-size:26px;font-weight:500;margin-bottom:55px;}
.con04 .container {width:1200px;margin:0 auto;padding:0 15px;display:flex;justify-content:space-between;}

.con04 .left {width:50%;opacity:0;transform:translateX(-1000px);transition:0.3s;}
.con04.on .left {opacity:1;transform:translateX(0);transition:0.3s;}
.con04 .left img {max-width:100%;}
.con04 .slick-dots {display:flex;margin-top:38px;justify-content:center;}
.con04 .slick-dots li {width:8px;height:12px;background:#ddd;transition:0.3s;margin:0 5px;}
.con04 .slick-dots li.slick-active {background:#97123d;transform:scale(1.15);}
.con04 .slick-dots li button {display:none;}

.con04 .right {width:50%;padding-left:15px;text-align:left;color:#333;opacity:0;transform:translateX(1000px);transition:0.3s;}
.con04.on .right {opacity:1;transform:translateX(0);transition:0.3s 0.3s;}

.con04 .txt a:before {content:"";display:block;width:0;height:0;border-top:1px solid #97123d;border-left:1px solid #97123d;position:absolute;top:0;left:0;opacity:0;transition:0.3s;}
.con04 .txt a:after {content:"";display:block;width:0;height:0;border-bottom:1px solid #97123d;border-right:1px solid #97123d;position:absolute;bottom:0;right:0;opacity:0;transition:0.3s;}
.con04 .txt a:hover:before {opacity:1;width:100%;height:100%;}
.con04 .txt a:hover:after {opacity:1;width:100%;height:100%;}

.con04 .txt {display:flex;justify-content:space-between;}
.con04 .txt a {position:relative;width:47.5%;padding:20px;border:1px solid #ddd;background:#fff;box-shadow:5px 5px 10px -6px #ddd;}

.con04 .txt span {display:block;background:#97123d;width:90px;padding:11px 0;text-align:center;color:#fff;font-weight:500;margin-bottom:30px;}
.con04 .txt h3 {font-size:20px;font-weight:700;margin-bottom:12px;}
.con04 .right .txt p {font-size:17px;font-weight:500;letter-spacing:-0.025em;color:#333;margin-bottom:12px;}
.con04 .right strong {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:24px;font-size:15px;color:#555;margin:23px 0 89px;width:190px;}
.con04 .right em {font-size:15px;font-weight:500;color:#555;}

.con04 .right .m {display:block;margin-top:32px;font-size:15px;font-weight:500;text-align:right;}
.con04 .m i {font-size:14px;font-weight:700;transition:0.3s;}
.con04 .m a:hover i {transform:translateY(-10px) rotate(180deg);color:#000;border:none;}



/*footer*/
.footer {background:#555;color:#ccc;position:relative;}
.footer .top {display:flex;line-height:70px;font-size:15px;border-bottom:1px solid #666;}
.footer .top .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}
.footer .top .left {display:flex;}
.footer .top .left li {margin-right:18px;}
.footer .top .left li:nth-child(2) {font-weight:500;color:#fff;}
.footer .top .right {display:flex;}
.footer .top .right li {margin-left:18px;}
.footer .top a {display:block;}

.footer .toTop a {position:absolute;width:70px;text-align:center;line-height:70px;background:#97123d;top:0;right:10%;font-size:17px;font-weight:500;border-radius:0 0 10px 10px;}
.footer .toTop a:after {display:block;content:"";width:30px;margin:0 auto;height:3px;background:#ddd;}

.footer .bottom {padding:40px 0 60px;}
.footer .bottom .container {width:1200px;margin:0 auto;padding:0 15px;display:flex;justify-content:space-between;}
.footer .bottom img {width:190px;}
.footer .bottom .ad {margin-left:-260px;font-size:15px;}
.footer .bottom .ad ul{display:flex;margin-top:9px;}
.footer .bottom .ad ul li {display:block;}
.footer .bottom .ad ul li~li:before {display:inline-block;content:"/";font-size:12px;margin:0 8px;}
address {font-size:13px;margin-top:15px;font-weight:300;}

.footer .bottom select {color:#ddd;width:190px;border:none;background:none;text-align:center;font-weight:700;font-size:15px;padding:5px 5px 5px 0;border:1px solid #ddd;background:#555;}



@media (max-width:768px){
    /*header*/

    .header {background:#fff;letter-spacing:-0.025em;}

    .header .top {line-height:30px;border-top:none;position:fixed;top:0;left:-100%;width:calc(100% - 100px);color:#333;}
    .header .top.on {left:0;z-index:100000;background:#fff;border-bottom:none;}
    .header .top img {max-width:20%;margin:-3px 4px 0 0;}
    .header .top ul img {display:none;}
    .header .top .container {display:flex;width:auto;margin:0 auto;padding:0 0 0 15px;justify-content:space-between;}
    .header .top span {font-size:3vw;vertical-align:top;font-weight:500;margin-left:-7px;}

    .header .top ul {display:flex;line-height:30px;}
    .header .top ul>li {display:block;font-size:2.9vw;font-weight:500;}
    .header .top ul>li:nth-child(2):after {content:"";display:inline-block;width:1px;height:1.4vh;background:#999;margin:0 1.8vw;}
    .header .top ul>li:nth-child(4) {margin-left:1.8vw;background:#97123d;width:10vw;line-height:30px;text-align:center;border-radius:0 0 0 0;}
    .header .top ul>li i {font-size:4.3vw;color:#fff;line-height:30px;}

    .header .bottom {text-align:left;border-top:none;}
    .header h1 {line-height:80px;text-align:left;padding:0 20px;}
    .header .bottom img {max-width:47%;}
    .header .bottom .container {background:#97123d;line-height:50px;color:#fff;}
    .header .bottom nav {position:fixed;top:30px;left:-100%;width:calc(100% - 100px);height:100vh;margin:0 ;padding:40px 20px 0;display:flex;justify-content:space-between;background:#97123d;color:#fff;}
    .header .bottom nav.on {left:0;height:100vh;background:#97123d;border-right:1px solid #7a0f31;z-index:99999;}

    .header .gnb>ul {display:flex;flex-direction:column;font-size:16px;width:100%;}
    .header .gnb>ul>li {position:relative;border-bottom:1px solid rgba(255,255,255,0.2);position:relative;}
    .header .gnb>ul>li>a:after {position:absolute;top:0;right:15px;display:inline-block;content:"\e936";font-family:xeicon!important;font-size:13px;}
    .header .bottom .right i {display:none;}

    .header .gnb>ul>li:after {display:none;}

    .header .gnb>ul>li {position:relative;}
    .header .gnb>ul>li .depth02 {display:none;color:#fff;position:static;top:0;left:0;width:100%;border:none;background:rgba(0,0,0,0.7);line-height:50px;text-align:left;font-size:15px;padding:0 15px 20px;visibility:visible;font-weight:400;z-index:999;}
    .header .gnb>ul>li {padding-right:0;}
    .header .gnb>ul>li .depth02 a {display:block;}

    .header .gnb>ul>li:hover .depth02 {display:none;opacity:1;top:65px;visibility:visible;transition:none;}
    .header .gnb>ul>li .depth02 li a {display:block;border-bottom:1px solid rgba(255,255,255,0.3);}
    .header .gnb>ul>li .depth02 li:hover a {display:block;border-bottom:1px solid rgba(255,255,255,0.3);color:#fff;}


    #allMenu {display:none;} 

    .mopen {display:block;position:fixed;top:28px;right:25px;z-index:999;}
    .mopen:after {content:"";display:block;width:100%;height:100%;background:#97123d;transform:scale(1.3);position:relative;border-radius:3px;transition:0.5s;box-shadow:5px 5px 5px -5px #333;}
    .mopen span {display:block;width:80%;height:2px;background:#eee;position:absolute;left:3px;transition:0.3s;z-index:1;}
    .mopen span:nth-child(1) {top:4px}
    .mopen span:nth-child(2) {top:14px;}
    .mopen span:nth-child(3) {top:14px;}
    .mopen span:nth-child(4) {top:24px;}

    .mopen.on:after {transform:rotate(90deg) scale(1.2)}
    .mopen.on span:nth-child(1) {opacity:0;transform:translateX(-30px)}
    .mopen.on span:nth-child(2) {transform:rotate(45deg);}
    .mopen.on span:nth-child(3) {transform:rotate(-45deg);}
    .mopen.on span:nth-child(4) {opacity:0;transform:translateX(30px)}


    /*main_visual*/
    .main_visual {position:relative;border-top:6px solid #97123d;}
    .main_visual .container {width:auto;margin:0 auto;color:#fff;}
    .main_visual .mainSlide figure {height:600px;}
    .main_visual .mainSlide .slider01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
    .main_visual .mainSlide .slider02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover;}
    .main_visual .mainSlide .slider03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}

    .main_visual .mainSlide figure .container {padding:145px 30px;}
    .main_visual .mainSlide figure p {font-size:3.5vw;font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}
    .main_visual .mainSlide figure h3 {font-size:7.3vw;font-weight:500;margin-bottom:17px;}
    .main_visual .mainSlide figure strong {text-indent:-8px;font-size:6.5vw;}
    .main_visual .mainSlide figure a {display:block;width:45vw;background:rgba(255,255,255,0.2);border:1px solid #ddd;margin:60px 0 0 5px;padding:10px auto;line-height:38px;text-align:center;font-size:3vw;letter-spacing:-0.025em;opacity:0;transform:translateY(-50px)}
    .main_visual .mainSlide figure i {font-size:16px;}

    .main_visual .mainSlide figure.on a {opacity:1;transition:1s;transform:translateX(0)}

    .main_visual .bar {position:absolute;bottom:52px;left:50%;transform:translateX(-50%);width:80%;height:1.5px;background:rgba(255,255,255,0.5);}
    .main_visual .bar span {display:block;width:0;height:150%;background:#97123d;}
    .main_visual .bar.animation_active span {width:100%;transition:4s;}

    .main_visual .btn span {position:absolute;bottom:70px;right:12%;font-size: 18px;color:#ddd;text-align:right;}
    .main_visual .btn span:after {display:none;content:"";width:100px;height:1px;background:#ddd;margin-top:10px;}



    /*con01*/
    .con01 {padding:50px 0;text-align:center;background:url(../img/con01_bg.jpg) no-repeat center left/cover;overflow:hidden;}

    .con01 .wrapper {width:auto;margin:0 auto;padding:0 20px;display:grid;grid-row-gap:18px;grid-template-columns:85%;grid-template-rows: 170px 306px 440px 240px 623px;justify-content:center;opacity:0;transform:translateY(1000px);transition:0.3s;}
    .con01.on .wrapper {opacity:1;transform:translateY(0);transition:0.3s;}
    /*01*/    
    .con01 .item01 {position:relative;grid-column-start:1;grid-column-end:2;background:#fff;border:5px solid #ddd;padding-top:43px;cursor:pointer;}    
    .con01 .item01 strong {display:block;font-size:4vw;font-weight:500;color:#333;margin-bottom:17px;}    
    .con01 .item01 span {color:#555;font-size:3.1vw;}    
    .con01 .item01 i {display:block;margin-top:10px;font-size:4vw;color:#666;}

    .con01 .item01:before {content:"";display:block;width:100%;height:100%;border-top:4px solid #97123d;border-left:4px solid #97123d;position:absolute;top:0;left:0;opacity:1;transition:0.3s;}
    .con01 .item01:after {content:"";display:block;width:100%;height:100%;border-bottom:4px solid #97123d;border-right:4px solid #97123d;position:absolute;bottom:0;right:0;opacity:1;transition:0.3s;}
    .con01 .item01:hover:before {opacity:1;width:100%;height:100%;}
    .con01 .item01:hover:after {opacity:1;width:100%;height:100%;}
    /*02*/
    .con01 .item02 {grid-row-start:4;grid-row-end:5;background:#97123d;color:#fff;padding-top:50px;box-shadow:5px 5px 10px -6px #ccc;}
    .con01 .item02 strong {display:block;font-size:4.5vw;margin-bottom:15px;}
    .con01 .item02 span {line-height:22px;font-size:3.1vw;font-weight:300;margin-bottom:28px;color:#ddd;}
    .con01 .item02 select {color:#333;margin-top:25px;width:75%;border:none;background:#fff;text-align:center;font-weight:700;font-size:3vw;padding:7px 0;border-radius:5px;}

    /*03*/
    .con01 .item03 {grid-row-start:2;grid-row-end:3;grid-column-start:1;grid-column-end:2;background:#fff;border:1px solid #97123d;box-shadow:5px 5px 10px -6px #ccc;padding:40px 8vw 0;display:flex;flex-wrap:wrap;justify-content:center;color:#333;}
    .con01.on .item03 {grid-row-start:2;grid-row-end:3;grid-column-start:1;grid-column-end:2;background:#fff;border:1px solid #97123d;box-shadow:5px 5px 10px -6px #ccc;padding:40px 8vw 0;display:flex;flex-wrap:wrap;justify-content:center;color:#333;}
    .con01 .item03 figure {text-align:center;margin:0 4vw;}
    .con01 .item03 img {max-width:70%;transition:0.3s;}
    .con01 .item03 strong {display:block;margin-top:18px;font-weight:500;transition:0.3s;}
    .con01 .item03 a:nth-of-type(2) strong {margin-top:15px;}
    .con01 .item03 figure:nth-child(4) strong {color:#000;font-weight:700;}
    .con01 .item03 a~a:after {display:none;content:"";width:1px;height:60px;background:#97123d;margin-top:-75px;opacity:30%;}
    .con01 .item03 a:hover strong {margin-top:18px;color:#333;}
    .con01 .item03 a:hover img {transform:none;}
    .con01 .item03 a:nth-of-type(2):hover img {transform:none;}
    .con01 .item03 a:nth-of-type(2):hover strong {margin-top:15px;}

    /*04*/
    .con01 .item04 {grid-row-start:3;grid-row-end:4;grid-column-start:1;grid-column-end:2;background:#fdf3f4;padding-top:30px;box-shadow:5px 5px 10px -6px #ccc;overflow:hidden;}
    .con01 .item04 .num {margin-top:35px;}
    .con01 .item04 .num strong {display:block;font-size:3.7vw;font-weight:500;margin-bottom:18px;color:#333;}
    .con01 .item04 .num:nth-child(1) strong {display:block;font-size:3.8vw;font-weight:500;margin-bottom:18px;color:#97123d;}
    .con01 .item04 .num span {font-size:8.5vw;font-weight:700;color:#97123d;}

    .con01 .item04 dl {display:flex;flex-wrap:wrap;width:250px;margin:35px auto 0;color:#333;}
    .con01 .item04 dt {width:40%;font-size:4.3vw;font-weight:500;line-height:35px;}
    .con01 .item04 dt:after {display:inline-block;content:"";width:2px;height:15px;background:#999;vertical-align:middle;margin-left:10px;}
    .con01 .item04 dd {width:60%;font-size:4.7vw;font-weight:700;line-height:35px;text-align:left;}
    /*05*/
    .con01 .item05 {grid-row-start:5;grid-row-end:6;grid-column-start:1;grid-column-end:2;background:rgba(236, 222, 222, 0.7);padding-top:54px;box-shadow:5px 5px 10px -6px #ccc;}
    .con01 .item05 strong {display:block;font-size:4.5vw;font-weight:500;margin-bottom:15px;color:#333;}
    .con01 .item05 span {line-height:24px;font-weight:500;color:#555;font-size:3.1vw;}
    .con01 .item05 .sub {margin:30px auto 0;color:#555;}
    #sub {margin-top:13px;}

    .con01 .item05 .sub input {background:#fff;border:1px solid #ddd;width:75%;outline:none;padding:12px;font-size:2.9vw;margin-bottom:15px;}
    .con01 .item05 .sub input:nth-child(4) {padding:12px 15px 120px;font-size:2.9vw;}
    .con01 .item05 a {display:block;width:75%;padding:15px 0;background:#97123d;color:#fff;margin:25px auto;font-size:3vw;}




    /*con02*/
    .con02 {padding:80px 0; background:#f2f2f2;color:#333;}

    .con02 .container {width:auto;margin:0 auto;padding:0 20px;text-align:center;}
    .con02 p {font-size:3.3vw;letter-spacing:0.4em;color:#97123d;margin-bottom:15px;text-indent:2px;}
    .con02 .txt {display:block;justify-content:center;}
    .con02 h2 {font-size:5.1vw;font-weight:500;margin-bottom:15px;}
    .con02 .txt a{font-size:2.6vw;font-weight:500;color:#555;text-align:right;letter-spacing:-0.025em;}
    .con02 .txt i {font-size:2.8vw;transition:0.3s;}
    .con02 .txt a:hover i {transform:translateY(-10px) rotate(180deg);color:#000;}

    .con02 .dr_slider {padding:0 5px;width:auto;margin:60px auto 0;justify-content:space-between;}
    .con02 figure {position:relative;text-align:center;width:370px;margin:0 15px;}
    .con02 figure img {border-radius:50px 50px 0 0;width:100%;}
    .con02 figure strong {display:block;font-size:4vw;font-weight:500;margin:1vh 0 0.7vh;}
    .con02 figure strong:after {display:block;content:"";width:auto;height:1px;background:#ccc;margin-top:1vh;}
    .con02 span {font-size:2.7vw;font-weight:300;color:#555;}
    .con02 .btn {display:flex;justify-content:space-between;margin-top:-3vh;padding:15px 0;}
    .con02 .btn a {display:block;width:50%;line-height:4.2vh;background:#97123d;font-size:2.4vw;letter-spacing:-0.025em;font-weight:300;color:#fff;}
    .con02 .btn a:nth-of-type(2) {background:#888;}
    .con02 .btn i {font-size:3.3vw;vertical-align:text-bottom;}

    .con02 em {display:none;width:100%;height:4vh;line-height:4vh;font-size:2.8vw;color:#fff;background:#555;}



    /*con03*/
    .con03 {padding:80px 0; text-align:center;overflow:hidden;}
    .con03 p {font-size:3.3vw;letter-spacing:0.4em;color:#97123d;margin-bottom:15px;}
    .con03 h2 {font-size:5.2vw;font-weight:500;margin-bottom:60px;}
    .con03 .container {width:auto;margin:0 auto;padding:0 20px;display:flex;flex-wrap:wrap;overflow:hidden;justify-content:center;}

    .con03 figure {position:relative;}
    .con03 .case {overflow:hidden;}
    .con03 img {transition:0.3s;margin-bottom:15px;}
    .con03 .case:hover img {transform:scale(1.1)}

    .con03 strong {position:absolute;top:3.8vh;left:7vw;font-size:3.7vw;font-weight:400;color:#fff;}
    .con03 em{font-size:3vw;color:#ddd;}
    .con03 strong:after {display:block;content:"";width:147px;height:1.5px;background:#ccc;margin:1.8vh 0;}
    .con03 span {position:absolute;top:12.5vh;left:7vw;font-size:2.6vw;color:#ddd;}
    .con03 span i {vertical-align:top;font-size:3vw;}
    .con03 figure:hover i {transform:translateX(15px);font-size:3.5vw;transition:0.5s;}

    .con03 figure:nth-child(2) strong {position:absolute;top:3.8vh;left:2.5vw;color:#333;font-weight:500;}
    .con03 figure:nth-child(2) em {color:#444;font-weight:500;}
    .con03 figure:nth-child(2) strong:after {display:block;content:"";width:147px;height:1px;background:#666;margin:1.8vh 0 0 20px;}
    .con03 figure:nth-child(2) span {left:7vw;font-size:2.6vw;font-weight:500;color:#333;}

    .con03 figure:nth-child(3) strong {position:absolute;top:3.8vh;left:0;color:#333;font-weight:500;}
    .con03 figure:nth-child(3) em {color:#444;font-weight:500;}
    .con03 figure:nth-child(3) strong:after {display:block;content:"";width:147px;height:1px;background:#666;margin:1.8vh 0 0 32px;}
    .con03 figure:nth-child(3) span {left:7vw;font-size:2.6vw;font-weight:500;color:#333;}

    .con03 figure:nth-child(1) {opacity:0;transform:translateX(-1000px);transition:0.3s;}
    .con03.on figure:nth-child(1) {opacity:1;transform:translateX(0);transition:0.3s;}
    .con03 figure:nth-child(2) {opacity:0;transform:translateX(1000px);transition:0.3s;}
    .con03.on figure:nth-child(2) {opacity:1;transform:translateX(0);transition:0.3s 0.3s;}
    .con03 figure:nth-child(3) {opacity:0;transform:translateX(-1000px);transition:0.3s;}
    .con03.on figure:nth-child(3) {opacity:1;transform:translateX(0);transition:0.3s 0.8s;}
    .con03 figure:nth-child(4) {opacity:0;transform:translateX(1000px);transition:0.3s;}
    .con03.on figure:nth-child(4) {opacity:1;transform:translateX(0);transition:0.3s 1s;}


    /*con04*/
    .con04 {padding:80px 0 60px;background:url(../img/con04_bg.jpg) no-repeat center center/cover;text-align:center;}
    .con04 p {font-size:3.3vw;letter-spacing:0.4em;color:#97123d;margin-bottom:20px;}
    .con04 h2 {font-size:5.2vw;font-weight:500;margin-bottom:55px;}
    .con04 .container {width:auto;margin:0 auto;padding:0 20px;display:block;justify-content:center;}

    .con04 .left {width:auto;}
    .con04 .left img {max-width:100%;margin:0 auto;}
    .con04 .slick-dots {display:flex;margin-top:38px;justify-content:center;}
    .con04 .slick-dots li {width:8px;height:12px;background:#ddd;transition:0.3s;margin:0 5px;}
    .con04 .slick-dots li.slick-active {background:#97123d;transform:scale(1.15);}
    .con04 .slick-dots li button {display:none;}

    .con04 .right {width:auto;padding-left:0;text-align:left;color:#333;margin-top:50px;}

    .con04 .txt a:before {content:"";display:block;width:0;height:0;border-top:1px solid #97123d;border-left:1px solid #97123d;position:absolute;top:0;left:0;opacity:0;transition:0.3s;}
    .con04 .txt a:after {content:"";display:block;width:0;height:0;border-bottom:1px solid #97123d;border-right:1px solid #97123d;position:absolute;bottom:0;right:0;opacity:0;transition:0.3s;}
    .con04 .txt a:hover:before {opacity:1;width:100%;height:100%;}
    .con04 .txt a:hover:after {opacity:1;width:100%;height:100%;}

    .con04 .txt {display:flex;justify-content:space-between;}
    .con04 .txt a {position:relative;width:47.5%;padding:12px;border:1px solid #ddd;background:#fff;box-shadow:5px 5px 10px -6px #ddd;}

    .con04 .txt span {display:block;background:#97123d;width:90px;padding:11px 0;text-align:center;color:#fff;font-weight:500;margin-bottom:4vh;}
    .con04 .txt h3 {font-size:4vw;font-weight:700;margin-bottom:2vh;}
    .con04 .right .txt p {font-size:3.5vw;font-weight:500;letter-spacing:-0.025em;color:#333;margin-bottom:3vh;line-height:2.8vh;padding-right:8vw;}
    .con04 .right strong {display:block;white-space:nowrap;width:110%;overflow:hidden;text-overflow:ellipsis;line-height:2.5vh;font-size:2.5vw;color:#555;margin:3.5vh 0 10vh;padding-right:2vw;}
    .con04 .right em {font-size:3.2vw;font-weight:500;color:#555;}

    .con04 .right .m {display:block;margin-top:32px;font-size:15px;font-weight:700;text-align:right;}
    .con04 .m i {font-size:14px;transition:0.3s;}
    .con04 .m a:hover i {transform:translateY(-10px) rotate(180deg);color:#000;border:none;}



    /*footer*/
    .footer {background:#555;color:#ccc;position:relative;}
    .footer .top {display:flex;line-height:5vh;font-size:3.3vw;border-bottom:1px solid #888;}
    .footer .top .container {display:block;width:auto;margin:0 auto;padding:0 30px;justify-content:center;}
    .footer .top .left {display:flex;flex-wrap:wrap;border-bottom:1px solid #666;justify-content:center;line-height:3.5vh;padding-top:4.7vw;}
    .footer .top .left li {margin:2vw;}
    .footer .top .left li:nth-child(2) {font-size:3.7vw;color:#fff;}
    .footer .top .right {display:flex;justify-content:center;}
    .footer .top .right li {margin:3vw;}
    .footer .top a {display:block;}

    .footer .toTop a {display:none;}

    .footer .bottom {padding:40px 0 60px;}
    .footer .bottom .container {width:auto;margin:0 auto;padding:0 30px;display:block;justify-content:center;text-align:center;}
    .footer .bottom figure {margin-bottom:4vh;}
    .footer .bottom img {width:200px;}
    .footer .bottom .ad {padding:0 8vw;margin-left:0px;line-height:3.2vh;font-size:3vw;}
    .footer .bottom .ad ul{display:block;margin-top:0;}
    .footer .bottom .ad ul li {display:block;}
    .footer .bottom .ad ul li~li:before {display:none;}

    address {font-size:2.8vw;margin:18px auto 25px;line-height:2vh;}

    .footer .bottom select {color:#ddd;width:190px;border:none;background:none;text-align:center;font-weight:700;font-size:15px;padding:5px 5px 5px 0;border:1px solid #ddd;background:#555;}
}
