/* * {outline:1px solid #f00;} */

/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;300;400;500;600&display=swap'); */


/*header*/
.header {position:absolute;top:0;left:0;width:100%;z-index:9999;}
.header:hover .top{background:#fff;}
.header:hover .bottom {background:#fff;border-top:1px solid #f8e7e1;}
.header .top{position:absolute;top:0;left:0;width:100%;z-index:999;transition:0.5s;}
.header .bottom{position:fixed;top:45px;left:0;width:100%;z-index:999;transition:0.5s;}


.header .bottom.on {background:#fff;top:0;line-height:85px;height:85px;border-bottom:1px solid #f6ede4;border-top:none;}
.header .bottom.on ul {line-height:80px;}
.header .bottom.on .right {line-height:80px;}
.header .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}

.header .top {line-height:45px;border-bottom:1px solid rgba(255,255,255,0.1);color:#666;}
.header .top .icon {display:flex;}
.header .top .icon a {display:block;width:33px;height:33px;border:none;border-radius:50%;line-height:40px;text-align:center;margin-right:8px;margin-top:7px;}
.header .top .icon a:hover {display:block;width:33px;height:33px;border:1px solid #e2c3b9;border-radius:50%;line-height:40px;text-align:center;margin-right:8px;margin-top:7px;box-shadow:5px 5px 10px -6px grey;}
.header .top .icon i {font-size:22px;}

.header .login ul {line-height:50px;display:flex;font-size:0;}
.header .login li {margin:0 5px;cursor:pointer;}
.header .top .icon:hover .login ul {font-size:14px;} /*질문!*/

.header .header_search input {background:#f6ede4;border:none;width:155px;height:20px;border-radius:10px;outline:none;margin-right:10px;padding:0 20px;}
.header .header_search button {background:none;border:none;outline:none;font-size:17px;}

.header .bottom {line-height:100px;color:#333;}
.header .bottom img {width:90px;}
.header .bottom ul {display:flex;line-height:92px;margin-top:8px;}
.header .bottom ul>li>a {font-weight:500;margin:0 32px;}
.header .bottom ul>li:after {content:"";width:0px;height:3px;background:#b88d7e;display:block;margin:-18px auto;transition:0.5s;}
.header .bottom ul>li:hover:after {content:"";width:45px;height:3px;background:#b88d7e;display:block;margin:-18px auto;}

.header .right {font-size:20px;line-height:92px;margin-top:8px;color:#000;cursor: pointer;}

.category {display:none;background:rgba(255,255,255,0.9);position:fixed;top:155px;left:50%;transform:translateX(-50%);width:1170px;padding:65px 180px 120px;color:#333;border:1px solid #eee;}
.category ul {display:flex;}
.category ul>li {flex:1;margin:0 25px;}
.category a {display:block;overflow:hidden;}
.category dt {font-size:17px;font-weight:500;}
.category dt:after {content:"";display:block;width:125px;height:1px;background:#d8b4a8;margin:8px 0 15px -10px;transition:0.5s;}
.category dd {font-size:15px;font-weight:500;line-height:30px;color:#555;}








/*main_visual*/
#mainVisual {position:relative;height:100vh;}



/*con01*/
.con01 {padding:200px 0 115px;text-align:center;}
.con01 .container {width:1200px;margin:0 auto;padding:0 15px;}
.con01 .tab_menu {display:flex;justify-content:center;cursor:pointer;}
.con01 .tab_menu>li {margin:0 53px;font-size:17px;font-weight:400;color:#777;transition:0.3s;}
.con01 .tab_menu>li.on {margin:0 53px;font-size:20px;font-weight:500;color:#333;}
.con01 .tab_menu>li:after {margin:18px -53px 35px -53px;content:"";width:198px;height:1px;background:#ddd;display:block;transition:0.3s;}
.con01 .tab_menu>li.on:after {margin:15px -53px 35px -53px;content:"";width:198px;height:3px;background:#d8b4a8;display:block;}

hr {display:none;}
hr.mhr {display:block;border-top:1px solid #eee;margin:0 0 15px 0;position:relative;overflow:visible;}
hr.mhr:after {content:"\e936";font-family:xeicon;background:#fff;display:inline-block;padding:0.5rem;position:absolute;top:-0.85rem;left:50%;transform:translateX(-50%);color:#d8b4a8;}

.con01 .tab_content>div {display:none;transition:0.3s;}
.con01 .tab_content>div.on {display:block;}

.con01 .tab_content .container {width:1170px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.con01 figure {padding-bottom:35px;position:relative;overflow:hidden;}
.con01 img {border:1px solid #f6ede4;width:auto;}
.con01 figure strong {font-size:13px;font-weight:500;color:#444;display:block;margin-top:12px;}
.con01 figure strong:after {display:block;content:"";width:270px;height:1px;background:#ddd;margin:12px auto 8px;}
.con01 figure span {font-family: 'Noto Serif KR', serif;font-size:15px;font-weight:300;color:#555;}

.con01 .point span {display:block;font-size:16px;background:#b88d7e;width:50px;height:73px;padding-top:12px;line-height:23px;color:#fff;border-radius:0 0 10px 10px;position:absolute;top:1px;left:12px;}
.con01 .point02 span {display:block;font-size:16px;background:#999;width:50px;height:50px;padding-top:12px;line-height:23px;color:#fff;border-radius:0 0 0 10px;position:absolute;top:1px;right:1px;}
.con01 .point03 span {display:block;font-size:16px;background:#d3bab1;width:50px;height:73px;padding-top:12px;line-height:23px;color:#fff;border-radius:0 0 10px 10px;position:absolute;top:1px;left:12px;}

.con01 .hover {position:absolute;top:188px;right:-50%;transition:0.5s;}
.con01 .hover a {display:block;width:33px;height:33px;background:rgba(255,255,255,0.8);border:1.5px solid #f3d0c5;line-height:31px;border-radius:50%;color:#777;margin-bottom:8px;}
.con01 figure:hover .hover {right:15px;}
.con01 .hover .xi-heart-o:hover {color:#f00;}
.con01 .hover .xi-cart-o:hover {color:#333;}

.con01 .btn a {display:block;width:270px;height:40px;border:1px solid #f3d0c5;border-radius:10px;font-size:17px;font-weight:500;line-height:40px;margin-top:225px;transition:0.3s;color:#444;}
.con01 .btn i {font-size:21px;vertical-align:middle;}
.con01 .btn a:hover {border:none;background:#f3d0c5;color:#fff;}



/*con02*/
.con02 {padding:100px 0;color:#333;background:#fcfaf8;}
.con02 .container {width:1200px;margin:0 auto;padding:0 15px;display:flex;text-align:center;letter-spacing:-0.025em;justify-content:space-between;}

.con02 .banner01 {background:url(../img/con02_01.jpg) no-repeat center center/cover;width:570px;padding:55px 0 30px;}
.con02 .banner02 {background:url(../img/con01_02.jpg) no-repeat center center/cover;width:570px;padding:55px 0 30px;}

.con02 strong {font-size:21px;font-weight:500;}
.con02 .banner01 i {font-size:15px;}
.con02 .banner02 i {font-weight:700;color:#e01818;font-size:24px;}
.con02 span {display:block;margin:13px auto 12px;}
.con02 em {font-size:8px;font-weight:300;color:#666;}



/*con03*/
.con03 {padding:150px 0;color:#333;font-family: 'Noto Serif KR', serif;}
.con03 .txt {width:1200px;padding:0 15px;margin:0 auto;}
.con03 h2 {font-size:25px;font-weight:700;margin-bottom:15px;}
.con03 p {font-size:15px;font-weight:500;margin-bottom:40px;letter-spacing:-0.025em;color:#555;}
.con03 .container {display:flex;justify-content:space-between;}

.con03 .left figure {width:570px;height:700px;overflow:hidden;position:relative;border:1px solid #eee;}
.con03 .left figure .case {width:1200px;background:#333;position:absolute;top:0;left:50%;transform:translateX(-50%) scale(1.07);}

.con03 .right {width:570px;display:flex;flex-wrap:wrap;justify-content:space-between;text-align:center;}
.con03 .case {border:1px solid #eee;margin-bottom:17px;}
.con03 .bottom {margin-top:24px;}

.con03 figure {position:relative;overflow:hidden;}
.con03 figure .case {overflow:hidden;width:270px;}
.con03 figure .case img {transition:0.4s;}
.con03 figure:hover img {transform:scale(1.1);}

.con03 .hover {position:absolute;top:220px;right:-50%;transition:0.5s;display:flex;}
.con03 .hover a {display:block;width:33px;height:33px;background:rgba(255,255,255,0.8);border:1.5px solid #f3d0c5;line-height:31px;border-radius:50%;color:#777;margin-left:8px;}
.con03 figure:hover .hover {right:18px;}
.con03 .hover .xi-heart-o:hover {color:#f00;}
.con03 .hover .xi-cart-o:hover {color:#333;}

.con03 strong {font-size:14px;font-weight:500;color:#555;}
.con03 span {font-size:18px;font-weight:500;}
.con03 strong:before {display:inline-block;content:"";width:18px;height:1px;background:#b88d7e;vertical-align:middle;margin-right:10px;}
.con03 span:after {display:inline-block;content:"";width:18px;height:1px;background:#b88d7e;vertical-align:middle;margin-left:10px;}

.con03 .btn {margin-left:300px;margin-top:30px;} /*질문*/
.con03 .btn a {display:block;width:270px;height:35px;border:1px solid #f3d0c5;border-radius:10px;font-size:15px;font-weight:500;line-height:35px;transition:0.3s;color:#444;justify-content:right;}
.con03 .btn i {font-size:14px;vertical-align:middle;}
.con03 .btn a:hover {border:none;background:#f3d0c5;color:#fff;}



/*con04*/
.con04 {padding:100px 0;text-align:center;color:#444;background:url(../img/con04.jpg) no-repeat center center/cover;margin:0 auto;}
.con04 h2 {font-size:17px;font-weight:300;letter-spacing:0.5em;margin-bottom:80px;}
.con04 strong {font-size:23px;font-weight:500;margin:0 20px;letter-spacing:0.01em;}
.con04 span {font-size:23px;font-weight:500;margin:0 20px;letter-spacing:0.01em;}

.con04 select {width:200px;border:none;background:none;border-bottom:1.5px solid #666;text-align:center;color:#222;font-weight:700;font-size:18px;padding:-15px 5px 20px 0;}

.con04 .btn a {display:block;width:190px;height:35px;border:1px solid #ddd;border-radius:10px;font-size:14px;font-weight:500;line-height:35px;transition:0.3s;color:#444;justify-content:right;margin:80px auto 0;}
.con04 .btn a:hover {border:1px solid #ddd;color:#b88d7e;}



/*con05*/
.con05 {padding:150px 0;text-align:center;font-family: 'Noto Serif KR', serif;color:#333;}
.con05 h2 {font-size:25px;font-weight:700;margin-bottom:23px;}
.con05 h2 i {font-size:21px;color:#000;vertical-align:bottom;}
.con05 p {font-size:15px;font-weight:500;color:#555;margin-bottom:50px;}

.con05 .container {width:1200px; margin:0 auto;padding:0 15px;display:flex;justify-content:space-between;}

.con05 .item01 {background:url(../img/con05_01.jpg)no-repeat center center/cover;width:370px;height:422px;border:1px solid #eee;transition:0.5s;}
.con05 .item01:hover {background:url(../img/con05_011.jpg)no-repeat center center/cover;}
.con05 .item02 {background:url(../img/con05_02.jpg)no-repeat center center/cover;width:370px;height:370px;border:1px solid #eee;margin-top:52px;transition:0.5s;}
.con05 .item02:hover {background:url(../img/con05_021.jpg)no-repeat center center/cover;}
.con05 .item03 {background:url(../img/con05_03.jpg)no-repeat center center/cover;width:370px;height:370px;border:1px solid #eee;transition:0.5s;}
.con05 .item03:hover {background:url(../img/con05_031.jpg)no-repeat center center/cover;}

.con05 strong {font-size:17px;font-weight:500;font-family: 'Noto Sans KR';letter-spacing:-0.025em;transition:0.5s;}
.con05 strong:before {display:block;content:"";width:1.5px;height:35px;background:#555;margin:-15px auto 10px;}

.con05 .point {transition:0.8s;}
.con05 .rotate:hover .point {transform:rotateY(360deg);}

.con05 span {display:block;font-size:15px;font-weight:500;margin:20px auto 12px;}
.con05 span:after {display:block;content:"";width:100%;height:1px;background:#ddd;margin-top:10px;}

.con05 em {font-size:17px;font-weight:300;color:#555;}



/*con06*/
.con06 {padding:150px 0 100px;background:#fbf5f5;position:relative;overflow:hidden;}
.con06 .container {width:1200px;margin:0 auto;padding:0 15px;text-align:center;font-family: 'Noto Serif KR', serif;color:#333;}
.con06 h2 {font-size:25px;font-weight:700;margin-bottom:110px;}
.con06 h2 i {font-size:20px;color:#000;vertical-align:bottom;}

.con06 .layout img {position:absolute;top:0;left:50%;transform:translate(-52%,36.9%);box-shadow:5px 5px 10px -6px #666;}

.con06 .txtTop {position:absolute;top:253px;left:53%;font-size:17px;font-weight:500;font-family: 'Noto Sans KR';width:1200px;}
.con06 .txtTop>div {width:130px;}

.con06 .txtBottom {position:absolute;top:780px;left:46.5%;font-size:23px;font-weight:700;width:1200px;letter-spacing:-0.02em;}
.con06 .txtBottom>div {width:290px;}

.con06 .slick-dots {display:flex;margin-top:165px;justify-content:center;}
.con06 .slick-dots li {width:150px;height:5px;background:#ddd;transition:0.1s;}
.con06 .slick-dots li.slick-active {background:#b88d7e;}
.con06 .slick-dots li button {display:none;}



/*footer*/
.footer .top {line-height:100px;display:flex;width:1200px;margin:0 auto;justify-content:center;color:#555;}
.footer strong {font-size:20px;font-weight:500;margin-right:30px;letter-spacing:-0.025em;}
.footer .sub input {background:none;border:1px solid #ddd;width:330px;height:48px;outline:none;margin-right:10px;padding:0 15px;}
.footer .sub button {width:140px;height:48px;background:#f3d0c5;border:none;color:#fff;outline:none;font-size:15px;font-weight:500;}

.footer .bottom {background:#f7f7f7;text-align:center;justify-content:center;padding-top:30px;color:#555;opacity:70%;}
.footer .sns {font-size:26px;margin-bottom:38px;padding-bottom:25px;border-bottom:1px solid #ededed;}
.footer .sns i {margin:0 12px;}
.footer .customer {display:flex;justify-content:center;font-weight:500;margin-bottom:35px;}
.footer .customer .point {color:#333;font-size:17px;}
.footer .customer li~li:before {display:inline-block;content:"";width:1px;height:15px;background:#cecece;margin:0 20px;}

.footer .company {font-weight:500;color:#666;line-height:30px;margin-bottom:30px;}
.footer .company ul {display:flex;justify-content:center;}
.footer .company li~li:before {display:inline-block;content:"";width:1px;height:12px;background:#ededed;margin:0 20px;}

address {font-size:14px;font-weight:300;padding-bottom:100px;}



/*toTop*/
.toTop {display:block;position:fixed;bottom:120px;right:3%;}
.toTop span {font-size:18px;color:#444;padding:10px;text-align:center;border:1px solid #b88d7e;background:rgba(255,255,255,0.8);font-family: 'Noto Serif KR', serif;}



/*right_banner*/
.right_banner {position:fixed;top:200px;right:-200px;transition:0.4s;}
.right_banner.on {right:0;}
.right_banner ul {background:rgba(0,0,0,0.8);width:200px;height:550px;padding:15px 15px 0;color:#eee;}
.right_banner ul>li {line-height:45px;border-bottom:1px solid #555;font-size:14px;}
.right_banner ul>li span {line-height:45px;font-size:15px;font-weight:500;}
.right_banner ul>li em {font-size:25px;font-weight:700;color:#f3d0c5;}
.right_banner ul>li:nth-child(4) {line-height:30px;padding-bottom:10px;}
.right_banner ul>li:nth-child(5) {line-height:30px;border-bottom:none;}
.right_banner ul>li>a>i {font-size:18px;color:#fff;vertical-align:middle;}
.right_banner .btn i {position:absolute;top:0;left:-25px;font-size:20px;padding:30px 2px;background:rgba(0,0,0,0.8);border-radius:8px 0 0 8px;color:#fff;}
.right_banner i.on {transform:rotate(-180deg);border-radius:0 8px 8px 0;}


@media (max-width:768px) {
    /*header*/
    .header {position:absolute;top:0;left:0;width:100%;z-index:9999;}
    .header:hover .top{background:#fff;}
    .header:hover .bottom {background:#fff;border-top:1px solid #f8e7e1;}
    .header .top{position:absolute;top:0;left:0;width:100%;z-index:999;transition:0.5s;background:#fff;}
    .header .bottom{position:fixed;top:45px;left:0;width:100%;z-index:999;transition:0.5s;background:#fff;border-top:1px solid #f8e7e1;}


    .header .bottom.on {background:#fff;top:0;line-height:85px;height:85px;border-bottom:1px solid #f6ede4;border-top:none;}
    .header .bottom.on ul {line-height:80px;}
    .header .bottom.on .right {line-height:80px;}
    .header .container {display:flex;width:auto;margin:0 auto;padding:0 15px;justify-content:space-between;}

    .header .top {line-height:45px;border-bottom:1px solid rgba(255,255,255,0.1);color:#666;}
    .header .top .icon {display:flex;}
    .header .top .icon a {display:block;width:33px;height:33px;border:none;border-radius:50%;line-height:40px;text-align:center;margin-right:1vw;margin-top:7px;}
    .header .top .icon a:hover {display:block;width:33px;height:33px;border:1px solid #e2c3b9;border-radius:50%;line-height:40px;text-align:center;margin-right:8px;margin-top:7px;box-shadow:5px 5px 10px -6px grey;}
    .header .top .icon i {font-size:22px;}

    .header .login ul {line-height:45px;display:none;font-size:0;}
    .header .login li {margin:0 5px;}
    .header .top .icon:hover .login ul {font-size:14px;} /*질문!*/

    .header .header_search input {background:#f6ede4;border:none;width:30vw;height:20px;border-radius:10px;outline:none;margin-right:1vw;padding:0 20px;}
    .header .header_search button {background:none;border:none;outline:none;font-size:17px;}

    .header .bottom {line-height:100px;color:#333;}
    .header .bottom img {width:auto;}
    .header .bottom ul {display:none;line-height:92px;margin-top:8px;}
    .header .bottom ul>li>a {font-weight:500;margin:0 32px;}
    .header .bottom ul>li:after {content:"";width:0px;height:3px;background:#b88d7e;display:block;margin:-18px auto;transition:0.5s;}
    .header .bottom ul>li:hover:after {content:"";width:45px;height:3px;background:#b88d7e;display:block;margin:-18px auto;}

    .header .right {font-size:30px;line-height:92px;margin-top:8px;color:#000;cursor: pointer;transition:0.5s;}
    .header .right.on {transform:rotate(90deg);}

    .category {display:none;background:rgba(255,255,255,0.9);position:fixed;top:155px;left:50%;transform:translateX(-50%);width:calc(100% - 40px);padding:30px 20px 50px;color:#333;border:1px solid #eee;}
    .category ul {display:flex;flex-wrap:wrap;margin:0 auto;}
    .category ul>li {flex:1;margin:0 25px 40px;justify-content:space-between;}
    .category a {display:block;overflow:hidden;}
    .category dt {font-size:17px;font-weight:500;}
    .category dt:after {content:"";display:block;width:125px;height:1px;background:#d8b4a8;margin:8px 0 15px -10px;transition:0.5s;}
    .category dd {font-size:15px;font-weight:500;line-height:30px;color:#555;}

    /*main_visual*/
    #mainVisual {position:relative;height:calc(100vh - 40px);}



    /*con01*/
    .con01 {padding:200px 0 115px;text-align:center;}
    .con01 .container {width:auto;margin:0 auto;padding:0 15px;}
    .con01 .tab_menu {display:flex;justify-content:center;cursor:pointer;}
    .con01 .tab_menu>li {margin:0;font-size:3.5vw;font-weight:400;color:#777;transition:0.3s;}
    .con01 .tab_menu>li.on {font-size:4vw;font-weight:500;color:#333;}
    .con01 .tab_menu>li:after {margin:18px -5vw 35px -5vw;content:"";width:40vw;height:1px;background:#ddd;display:block;transition:0.3s;}
    .con01 .tab_menu>li.on:after {margin:15px -5vw 35px -5vw;content:"";width:40vw;height:3px;background:#d8b4a8;display:block;}

    hr {display:none;}
    hr.mhr {display:block;border-top:1px solid #eee;margin:0 0 15px 0;position:relative;overflow:visible;}
    hr.mhr:after {content:"\e936";font-family:xeicon;background:#fff;display:inline-block;padding:0.5rem;position:absolute;top:-0.85rem;left:50%;transform:translateX(-50%);color:#d8b4a8;}

    .con01 .tab_content>div {display:none;transition:0.3s;}
    .con01 .tab_content>div.on {display:block;}

    .con01 .tab_content .container {width:calc(100% - 30px);display:flex;flex-wrap:wrap;justify-content:space-between;}
    .con01 figure {padding-bottom:35px;position:relative;overflow:hidden;}
    .con01 img {border:1px solid #f6ede4;width:auto;}
    .con01 figure strong {font-size:13px;font-weight:500;color:#444;display:block;margin-top:12px;}
    .con01 figure strong:after {display:block;content:"";width:270px;height:1px;background:#ddd;margin:12px auto 8px;}
    .con01 figure span {font-family: 'Noto Serif KR', serif;font-size:15px;font-weight:300;color:#555;}

    .con01 .point span {display:block;font-size:16px;background:#b88d7e;width:50px;height:73px;padding-top:12px;line-height:23px;color:#fff;border-radius:0 0 10px 10px;position:absolute;top:1px;left:12px;}
    .con01 .point02 span {display:block;font-size:16px;background:#999;width:50px;height:50px;padding-top:12px;line-height:23px;color:#fff;border-radius:0 0 0 10px;position:absolute;top:1px;right:1px;}
    .con01 .point03 span {display:block;font-size:16px;background:#d3bab1;width:50px;height:73px;padding-top:12px;line-height:23px;color:#fff;border-radius:0 0 10px 10px;position:absolute;top:1px;left:12px;}

    .con01 .hover {position:absolute;top:188px;right:-50%;transition:0.5s;}
    .con01 .hover a {display:block;width:33px;height:33px;background:rgba(255,255,255,0.8);border:1.5px solid #f3d0c5;line-height:31px;border-radius:50%;color:#777;margin-bottom:8px;}
    .con01 figure:hover .hover {right:15px;}
    .con01 .hover .xi-heart-o:hover {color:#f00;}
    .con01 .hover .xi-cart-o:hover {color:#333;}

    .con01 .btn a {display:block;width:270px;height:40px;border:1px solid #f3d0c5;border-radius:10px;font-size:17px;font-weight:500;line-height:40px;margin-top:225px;transition:0.3s;color:#444;}
    .con01 .btn i {font-size:21px;vertical-align:middle;}
    .con01 .btn a:hover {border:none;background:#f3d0c5;color:#fff;}



    /*con02*/
    .con02 {padding:80px 0;color:#333;background:#fcfaf8;}
    .con02 .container {width:auto;margin:0 auto;padding:0 20px;display:block;text-align:center;letter-spacing:-0.025em;justify-content:center;}

    .con02 .banner01 {background:url(../img/con02_01.jpg) no-repeat center center/cover;width:calc(100% - 10px);padding:55px 0 30px;margin:0 auto;}
    .con02 .banner02 {background:url(../img/con01_02.jpg) no-repeat center center/cover;width:calc(100% - 10px);padding:55px 0 30px;margin:0 auto;}

    .con02 strong {font-size:21px;font-weight:500;}
    .con02 .banner01 i {font-size:15px;}
    .con02 .banner02 i {font-weight:700;color:#e01818;font-size:24px;}
    .con02 span {display:block;margin:13px auto 12px;}
    .con02 em {font-size:8px;font-weight:300;color:#666;}

    .con02 .slick-dots {display:flex;margin-top:25px;justify-content:center;}
    .con02 .slick-dots li {width:2.5px;height:10px;background:#ddd;transition:0.1s;margin:0 0.8vw;}
    .con02 .slick-dots li.slick-active {background:#b88d7e;transform:scale(1.2);}
    .con02 .slick-dots li button {display:none;}
    
}









